body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  height: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(173, 216, 230, 0.514),
      rgba(255, 255, 224, 0.521)
    ),
    url(https://source.unsplash.com/1920x1080/?happy);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: saturation;
}
